@tailwind base;
@tailwind components;
@tailwind utilities;

#app-inner {
  animation: appear ease 0.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

html,
body,
#app {
  min-height: 100vh;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@layer components {
  .sf-popover {
    @apply p-2 shadow-md shadow-primary bg-base-100 rounded-lg w-60 border border-primary;
  }
}
