@tailwind base;
@tailwind components;
@tailwind utilities;

#app-inner {
  animation: appear ease 0.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

html,
body,
#app,
#app-inner {
  min-height: 100vh;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
